* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #1ABC9C;
  --bg: #FAFAFA;
  --txt-color: #333333;
  --txt-input: #51627F;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: 'SF UI Text Regular';
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
}

.wrapper-container {
  min-height: 100vh;
  max-width: 1366px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card-main {
  border-radius: 30px;
  background-color: #fff;
  padding: 30px 30px 20px;
  box-shadow: 0px 0px 10px #3333331F;
  width: 544px;
  max-width: 100%;
}

.card-main img.logo {
  margin-bottom: 15px;
}

.card-main h5 {
  font-size: 22px;
}

.card-main h5 span {
  color: var(--green);
  display: block;
}

.card-main > p {
  font-size: 16px;
}

.card-main .copyright {
  display: flex;
  justify-content: center;
}

.card-main .copyright small {
  font-size: 14px;
}

.form-wrapper .titles {
  position: relative;
  height: 30px;
  color: #C4C4C4;
}

.form-wrapper .titles .title {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  transition: all .5s;
  cursor: pointer;
}

.form-wrapper .titles .title.active {
  transition: all .5s;
  left: 0%;
  transform: translateX(0%);
  color: var(--txt-color);
}

.green-bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: var(--green);
  border-radius: 1.5px;
  display: block;
  transition: all .5s;
  width: 41px;
}

input {
  background-color: #fff;
  box-shadow: 0px 0px 6px #3333330F;
  border-radius: 8px;
  height: 35px;
  padding: 0 15px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  color: var(--txt-input);
  margin-bottom: 20px;
  width: 100%;
}

.relative-container {
  position: relative;
  height: 310px;
}

.relative-container #submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 40px;
  box-shadow: 0px 0px 10px #33333326;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: var(--green);
  outline: none;
  border: none;
  transition: all .5s;
}

#submit span {
  transition: all .5s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#submit span.active {
  opacity: 1;
}

.inputs-form {
  position: absolute;
  padding: 25px 0 15px;
  opacity: 1;
  transition: all 0.5s;
}



.inputs-form.show {
  animation-fill-mode: forwards;
  animation-duration: .5s;
  display: block;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
    top: 40px;
  }

  100% {
    top: 0px;
    display: block;
    opacity: 1;
    transform: translateY(0px);
  }
}

.inputs-form.hide{
  animation-fill-mode: forwards;
  animation-duration: .5s;
  opacity: 0;
}

@keyframes hide {
  0% {
    display: block;
    opacity: 1;
    top: 0px;
  }

  100% {
    top: -40px;
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

.inputs-form input:last-child {
  margin-bottom: 10px;
}

#login .forgot-password {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.inputs-form > div {
  display: flex;
}

.inputs-form > div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 6px #3333330F;
  width: 97px;
  height: 35px;
  margin-right: 5px;
  background: transparent;
  background-image: url('../img/icon-chevron-down.svg');
  background-repeat: no-repeat;
  background-position-x: 88%;
  background-position-y: 50%;
  padding-right: 2rem;
}

.login > div select:focus {
  box-shadow: 0px 0px 6px #3333330F;
}

.carousel-wrapper {
  width: 625px;
  height: 440px;
  max-width: 100%;
  margin: 20px 0;
}

.carousel-inner> .carousel-item {
	opacity: 0;
	transition-duration: .2s;
	transition-property: all;
  transition-timing-function: ease-out;
}

.carousel-wrapper #carousel,
.carousel-wrapper #carousel .carousel-inner,
.carousel-inner> .carousel-item {
  height: 100%;
}

.carousel-inner> .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
  transform: translate3d(10%, 10%, 0); -webkit-transform: translate3d(10%, 10%, 0); -ms-transform: translate3d(10%, 10%, 0); -moz-transform: translate3d(10%, 10%, 0); -o-transform: translate3d(10%, 10%, 0);;
  opacity: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
  transform: translate3d(-10%,-10%, 0); -webkit-transform: translate3d(-10%,-10%, 0);  -moz-transform: translate3d(-10%,-10%, 0);-ms-transform: translate3d(-10%,-10%, 0); -o-transform: translate3d(-10%,-10%, 0);
  opacity: 0;
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
  transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;  
  opacity: 1;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #A8B4B1;
}

.carousel-indicators li.active {
  background-color: var(--green);
}

@media (max-width: 1200px) {
  .wrapper-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .carousel-wrapper {
    margin: 50px 0;
  }

  .card-main {
    margin-top: 30px;
  }
}
@media(max-width: 576px) {
  .card-main {
    padding: 20px 20px 15px;
  }
  .carousel-indicators {
    bottom: 0px;
  }

  .card-main .copyright small {
    font-size: 12px;
  }


}
